extends layout 
block content 
    h1=title
    if errors 
        ul 
            for error in errors 
                li!= error.msg
    form(method='POST' action='' novalidate)
        div.form-group
            label(for='name') Name:
                input#name.form-control(
                    name='name'
                    type='text'
                    placeholder='User Name'
                    required='true'
                    value=(indefined==user ? '': user.name)
                )        div.form-group
            label(for='email') Email:
                input#email.form-control(
                    name='email'
                    type='text'
                    placeholder='Email Address'
                    required='true'
                    value=(indefined==user ? '': user.email)
                )
                        div.form-group
            label(for='password') Password:
                input#password.form-control(
                    name='password'
                    type='password'
                    placeholder='Password'
                    required='true'
                    value=(indefined==user ? '': user.password)
                )            label(for='password') Password:
                input#confirmPassword.form-control(
                    name='confirmPassword'
                    type='password'
                    placeholder='Confirmation Password'
                    required='true'
                    value=(indefined==user ? '': user.confirmPassword)
                )